
/*****************************BUTTON STYLING***********************/

.appointment-button{
	margin-top:20px;
	background-color:$theme-orange;
	color:$color-white;
	border-radius:5px;
}



/**********************FORM STYLING*********************/

