/*descriptive color variables*/ 

$basic-white	:#ffffff;
$basic-grey		:#EFEFEF;
$bright-orange	:#FD9941;




/*function color variables*/

$color-white		:$basic-white;
$theme-grey			:$basic-grey;
$theme-orange		:$bright-orange;




/*font stacks variables*/

$main-header-font	:'Permanent Marker', cursive;



