
/*Full page wrapper*/





/*containers*/

/*contact-div*/
.contact-div{
	background-color:$theme-grey;
	height:30px;

	.contact-p{

		color:$theme-orange;
		float:right;
		
		margin-top:5px;
	}
}



/*side div*/

.side-div{
	height:620px;
	
	background-color:$color-white;
	opacity:0.5;
	float:left; 
	display:inline; 
	width: 35%;
	
}

.main-content{
 
 	
 	width:100%;
 	height:620px;
 	
 
 }

.title-div{
	display:block;
	width:190px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	top:150px;
	

}

#index-side-div{
	height:645px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.title-div-about{
	display:block;
	width:250px;
	float:right;
	position:relative;
	top:150px;
	margin-right:40px;
	

}

/*Second main div contianer with content*/

.second-div{
	
	float:left; 
	display:inline;
	 width: 65%;
	 
}

#services-side-div{
	background-color:$theme-grey;
}


