
/*nav bar styling*/

#main-nav{
	height:110px;
	background-color:$color-white;
	margin-bottom:0;
}

.nav{
	position:relative;
	top:28px;
	margin-right:0px;
	@media only screen and (max-width: 1035px) {
	right:40px;
	}

	
}

.nav li{
	margin-left:8px;
	margin-right:8px;
	@media only screen and (max-width: 987px) {
		font-size: 12px;
		margin-right:3px;
		margin-left:3px;
	}
	@media only screen and (max-width: 816px) {
		font-size: 9px;
		margin-right:2px;
		margin-left:2px;
	}

}
